[submodule "lib/x"]
	path = lib/x
	url = https://github.com/ambiata/x
[submodule "lib/p"]
	path = lib/p
	url = https://github.com/ambiata/p
[submodule "lib/orphanarium"]
	path = lib/orphanarium
	url = https://github.com/ambiata/orphanarium
