dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.gch
.virthualenv
.cabal-sandbox
cabal.sandbox.config
data/*.psv
data/part.*
*.class

icicle-compiler/gen
icicle-core/gen
icicle-data/gen
icicle-repl/gen
icicle-source/gen
